/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 1020px;
  margin: auto;
  background-color: #f0efef;
}

header {
  background-color: #033048;

}

footer {
  background-color: #121212;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
  font-weight: 800;
  font-size: 40px;
  float: left;
  padding: 25px;
}
.whiteText {
  color: white;
}
.yellowText {
  color: #f9e42e;
}
.topNav {
    float: right;
}
.topNav a{
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  color: #f9e42e;
  padding: 25px;
  margin-right: -4px;
}

main {
  width: 700px;
  float: left;
  background-color: #f0efef;
  padding: 20px;
}

.articleStyle {
  padding: 10px;
}

.articleStyle h2 {
  font-weight: 600;
  font-size: 40px;
  color: #033048;
  margin: 10px;
}

.articleStyle img {
  max-width: 98%;
}

.articleStyle p {
  color: #606161;
  font-weight: 300;
  font-size: 24px;
}

.articleStyle p::first-letter {
  font-size: 200%;
  font-weight: 600;
  padding: 0;
  vertical-align: top;
  float:left;
}
.articleStyle h4 {
  text-align: right;
}
.articleStyle a {
  color: #033048;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

aside {
  width: 240px;
  float: right;
  background-color: #f0efef;
  padding: 20px;
}

.asideStyle {
  padding: 20px;
}

.asideStyle h3 {
  font-weight: 800;
  font-size: 32px;
  color: #033048;
}

.asideStyle p {
  font-size: 22px;
  font-weight: 300;
  color: #606161;
}

#asideLearnMore a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #033048;

}
.asideStyle ul li a {
  font-size: 22px;
  font-weight: 300;
  color: #606161;
  text-decoration: none;

}
.asideStyle ul {
  line-height: 30px;
}

.line {
  margin: 25px 0;
  border-bottom: 1px #cccccc solid;
}

.signUp {
  background-color: #f9e42e;
  text-align: center;
  margin: 0px;
  padding: 20px;
}
.signUp a {
  background-color: #033048;
  font-size: 24px;
  font-weight: 800;
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  vertical-align: middle;
}
.bottomLogo {
  font-weight: 800;
  font-size: 40px;
  padding: 25px;
  text-align: center;
}
.smallText {
  font-size: 14px;
  color: white;
  padding: 20px;
}

footer {
  text-align: center;

}