#container {
	width:100%;
}


.clear {
  clear: both;
}

body {
	font-size: 20px;
}


header {
	overflow: auto;
	background-color: black;
	padding: 1.2em;
	border-bottom: 5px solid yellow;
}

header h1 {
	float: left;
	color: yellow;
	font-family: "Merriweather", serif;
}

header nav {
	float: right;	
	padding: 1.5em;
}

header nav a {
	color: white;
	text-decoration: none;
	font-family: "Source Sans Pro";
	padding: 0.2em;
}

p.tagline {
	text-align: center;
	color: black;
	font-family: "Merriweather";
	background: #C6C6C6;
	margin: 0;
	padding: 1em;
	font-style: italic;
}

#taste {
	color: gray;
	text-decoration: line-through;
}

#are {
	border-bottom: 2px solid yellow;
}



.mainImg {
	background: url("../img/coworking.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
	background-position: 0 -60px;
}

.mainBoxOnImg {
	float: right;
	width: 40%;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 2em;
	padding: 30px 30px 60px 30px;
	font-family: "Source Sans Pro";
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.mainBoxOnImg h2 {
	font-weight: 800;
	font-size: 1.25em;
	padding: 0.5em;
}

.mainBoxOnImg p {
	font-size: .8em;
	padding: 0.5em;
}

button.mainBoxButton {
	background-color: yellow;
	color: black;
	text-align: center;
	width:100%;
	font-family: "Oswald";
	padding: 0.5em;
	font-weight: 800;
}


article {
	float: left;
	width: 29%;
	padding: 1em;
	
}

#middleArticle {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

article h2 {
	font-family:"Merriweather", serif;
	font-size: 1.2em;
}

article p {
	font-family: "Source Sans Pro";
	font-size: 0.8em;
}

article button {
	background-color: #C6C6C6;
	color: black;
	text-align: center;
	width:100%;
	font-family: "Oswald";
	padding: 0.5em;
	font-weight: 800;
}




footer {
	background-color: black;
	color: white;
	font-family: "Source Sans Pro";
	font-size: 0.6em;
	padding: 1.5em;
}

#burger {
	display: none;
	cursor: pointer;
}

#mobile-nav {
	display: none;
	}

@media (max-width: 1010px) {
	#large-nav {
		display: none;
	}
	#burger {
		display: block;
		float: right;
		margin-top: 1.0em;
	}


	#mobile-nav a {
		display: block;
		background-color: rgb(222,222,222);
		text-align: center;
		padding: 0.5em;
		text-transform: uppercase;
		text-decoration: none;
		color: black;

	}

	#mobile-nav a:hover{
		background-color: black;
		color: white;
	}
	article {
		display: block;
		width: 90%;
		padding: 1em;
		
	}

	#middleArticle {
		border-right: none;
		border-left: none;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;

	}
	article button {
		background-color: #C6C6C6;
		color: black;
		text-align: center;
		width:100%;
		font-family: "Oswald";
		padding: 0.5em;
		font-weight: 800;
	}

	h1 {
		font-size: 1.2em;
	}
	.mainImg {
		background-size: auto;
		width: 100%;
		background-position: center;
		height: auto;
		margin: 0px;
	}
	.mainBoxOnImg {
		display: inline block;
		width: 100%;
		box-shadow: none;
		float: none;
		margin:	0px;
		padding: 0px;
	}
	.mainBoxOnImg h2 {
		font-weight: 800;
		font-size: 1.25em;
		padding: 0.5em;
		margin: 0em 1em 0em 1em;
	}

	.mainBoxOnImg p {
		font-size: .8em;
		padding: 0.5em;
		margin: 1em;
	}

	button.mainBoxButton {
		background-color: yellow;
		color: black;
		text-align: center;
		font-family: "Oswald";
		padding: 0.5em;
		margin: 1em;
		width: 90%;
		font-weight: 800;
	}
}
